title
  font-family: sans-serif
  color: rgb(255, 230, 255)

body
  text-align: center
  background-color: rgb(232,232,232)
  display: block
  font-family: sans-serif

.where__totype

  display: inline-block


section
  background-color: white
  display: inline-block
  padding: 1rem 1rem 1rem

li

  list-style: none
  text-align: left
  border-style: solid
  border-width: thin
  border-color: rgb(200,200,200)

.bottom__button
  background-color: transparent
  border-radius: .2rem
  color: rgb(204, 204, 204)
  border-color: transparent 

div
  display: inline-block
  padding: 1rem
  color: rgb(204, 204, 204)

footer
  font-size: .7rem
  text-align: center
  opacity: .4
